<html>
<title>Online shopping portal</title>
<body>
    <div>
        Welcome,
        {% if user.is_anonymous %}
            <em> Guest! </em>
            <a href="{% url 'login' %}">login</a>
        {% else %}
            <em> {{ user }}! </em>
            <a href="{% url 'logout' %}">logout</a>
        {% endif %}
        {% if perms.osp.add_item %}
            <a href="{% url 'osp:add_item' %}">+Item</a>
        {% endif %}
    </div>

    <p>
    {% block content %}

    {% endblock %}
    </p>
</body>
</html>
