{% extends "osp/base.html" %}

{% block content %}

<h3>{{ item.name }}</h3> 

{% if edit %}
    <a href="{% url 'osp:edit_item' item.name %}">Edit</a> | 
    <a href="{% url 'osp:del_item' item.name %}">Delete</a>
    <br><br>
{% endif %}
Price: Rs {{ item.cost }}
<br>
Discount: {{ item.discount }}
<br>
Seller: {{ item.seller }}
<br>
Available: {{ item.available }}

<form action="{% url 'osp:add_to_basket' item.name %}" method="post">
{% csrf_token %}
Items to add: <input type="number" name="numofitems" id="numofitems" value="1"/>
<br>
<br>
<input type="submit" value="Add to basket" />
</form>

<form action="{% url 'osp:add_to_wishlist' item.name %}" method="post">
{% csrf_token %}
<input type="submit" value="Add to wishlist" />
</form>

{% endblock %}
