{% extends "osp/base.html" %}

{% block content %}

<h3>Order History</h3>

{% if not t.basket_set.all %}
    <p>No past orders.</p>
{% else %}
    <ol>
    {% for basket in t.basket_set.all %}
        <li>
        <ul>
        {{ t.date }}
        <br />
        {% for item in basket.item_set.all %}
        <li>{{ item.name }} - {{ item.cost }} - Qty: {{ item.purchase_quantity }}</li>
        {% endfor %}
        </ul>
        </li>
        Total: {{ basket.totalbill }} 
    {% endfor %}
    </ol>
{% endif %}

{% endblock %}

